@tailwind base;
@tailwind components;
@tailwind utilities;

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


@layer components {
  .padding-section {
    @apply py-8 lg:py-[60px];
  }
  .button-base-style {
      @apply inline-flex items-center justify-center transition duration-300 ease-in-out; 
  }

  .input-base-style {
      @apply border border-gainsboro rounded-lg text-base px-4 py-3 text-gunmetal h-12 focus:outline-none font-medium placeholder:text-roman-silver w-full transition duration-300 ease-in-out; 
  }

  .base-transition {
      @apply transition duration-300 ease-in-out;
  }
}

:root {
  --background: #ffffff;
  --foreground: #1F2128;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #1F2128;
  }
}

body {
  background: var(--background);
  @apply text-white;
  background-image: url("../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.slick-list{padding:0 20% 0 0 !important;}
.slick-prev:before, .slick-next:before {
  display: none;
}